* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.navbar_logo {
    font-size: 24px;
    color: white;
}

.navbar_logo i {
    color: #d49466;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: #d49644;
    border-radius: 4px;
}

.navbar_icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}

.navbar_icons li {
    padding: 8px 12px;
}

.navbar_toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        text-align: center;
        width: 100%;
    }

    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_toggleBtn {
        display: block;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }
}

body {
    background-color: darkslateblue;
}

.typingText {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    text-align: center;
    height: 170px;
    bottom: -50px;
}

.portfolio {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    text-align: center;
    height: 800px;
    background-color: black;
}

.material-icons {
    font-size: 10rem;
}

.lg-text {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.sm-text {
    font-size: 1.5rem;
}

#dynamic {
    position: relative;
    display: inline-block;
}

#dynamic::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height: 100%;
    background-color: white;
}

#dynamic.active::after {
    display: none;
}